#nav-bar {
    position: sticky;
    top: 0;
    z-index: 999;
}
/*for nav-bar-icon*/
.navbar-toggler-icon {
    background-image: none !important;
    color: #fff;
}
/*for navbar*/
.navbar {
    background: linear-gradient(to right, #2457d7, #3b125d);
    text-align: center;
}
/*for navbar-brand*/
.navbar-brand {
    margin-left: 40px !important;
    color: #fff !important;
}
/*for navbar list*/
.navbar-nav li {
    padding: 0 20px;
    margin-right: 10px;
}
/*for navbar anchor */
.navbar-nav a {
    color: white;
    font-weight: 200;
    font-family: Arial;
    font-style: italic;
    text-align: right;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}

.navbar-toggler {
    border: none !important;
}
.main{
    background-image: url('images/contact-main.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;
    width: 100% ;
    height: 300px;
    text-align: center;
}
.main_heading{
    color: #fff !important;
    position: relative;
    top: 70px
}
.main a{
    color: #fff;
}
.contact_info{
    background-color: #eef2f6;
    color:black;
    font-weight: 300px;
}
.contact_info span{
    color: rgba(255, 166, 0, 0.911);
}
.contact_input{
    background-color: #eef2f6;
    color: blue;
}
.footer {
    background-color: #a49797;
    max-width: 100% !important;
}

.footer a {
    color: white;
}